<a href="https://colab.research.google.com/github/Pt-home/Notebooks/blob/main/Nomades2_0_Pandas_08_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
con = sqlite3.connect("sample_data/weather_2012.sqlite")
df = pd.read_sql("SELECT * from weather_2012 LIMIT 5", con)
df

   id            date_time  temp
0   1  2012-01-01 00:00:00  -1.8
1   2  2012-01-01 01:00:00  -1.8
2   3  2012-01-01 02:00:00  -1.8
3   4  2012-01-01 03:00:00  -1.5
4   5  2012-01-01 04:00:00  -1.5

In [ ]:
df = pd.read_sql("SELECT * from weather_2012", con, index_col='id')
df

               date_time  temp
id
1    2012-01-01 00:00:00  -1.8
2    2012-01-01 01:00:00  -1.8
3    2012-01-01 02:00:00  -1.8
4    2012-01-01 03:00:00  -1.5
5    2012-01-01 04:00:00  -1.5
..                   ...   ...
96   2012-01-04 23:00:00  -9.6
97   2012-01-05 00:00:00  -8.8
98   2012-01-05 01:00:00  -7.5
99   2012-01-05 02:00:00  -5.4
100  2012-01-05 03:00:00  -5.0

[100 rows x 2 columns]

In [ ]:
df = pd.read_sql("SELECT * from weather_2012", con, index_col=['id', 'date_time'])
df

                         temp
id  date_time
1   2012-01-01 00:00:00  -1.8
2   2012-01-01 01:00:00  -1.8
3   2012-01-01 02:00:00  -1.8
4   2012-01-01 03:00:00  -1.5
5   2012-01-01 04:00:00  -1.5
...                       ...
96  2012-01-04 23:00:00  -9.6
97  2012-01-05 00:00:00  -8.8
98  2012-01-05 01:00:00  -7.5
99  2012-01-05 02:00:00  -5.4
100 2012-01-05 03:00:00  -5.0

[100 rows x 1 columns]

In [ ]:
weather_df = pd.read_csv('sample_data/weather_2012.csv')

con = sqlite3.connect("sample_data/test_db.sqlite")

con.execute("DROP TABLE IF EXISTS weather_2012")

weather_df.to_sql("weather_2012", con)

8784

In [ ]:
df = pd.read_sql("SELECT * from weather_2012", con, index_col='index')
df

,Date/Time,Температура (°C),Точка росы(°C),Влажность (%),Направление ветра (10s deg),Скорость ветра (km/h),Видимость (km),Давление (kPa),Холодность ветра,Погода
index,,,,,,,,,,
0,2012-01-01 00:00:00,-1.8,-3.9,86,24.0,4,8.0,101.24,-3.0,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,25.0,4,8.0,101.24,-3.0,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,23.0,7,4.0,101.26,-4.0,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,23.0,6,4.0,101.27,-4.0,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,23.0,7,4.8,101.23,-4.0,Fog
...,...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,22.0,30,9.7,100.13,NaN,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,23.0,24,9.7,100.03,NaN,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,23.0,28,4.8,99.95,-7.0,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,25.0,28,9.7,99.91,-7.0,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,25.0,30,11.3,99.89,-6.0,Snow